<h1>Hub de la communauté</h1>

<% if  user_signed_in? %>
<p style="text-align: center; margin: 30px;">
  <%= link_to 'Accéder à mes flux', fluxes_path, :class => 'btn btn-default' %>
</p>
<% end %>

<div class="row">

<% @articles.each do |article| %>

  <div class="col-sm-6 col-md-4 extrait">
    <div class="thumbnail">
      <a href="<%= article_path(:id => article.id) %>">
      <img src="<%= article.image_url %>" alt="<%= article.title %>">
      <div class="caption">
        <p class="popularity"><%= article.views %></p>
        <h4><%= article.title %></h4>
      </div>
      </a>
    </div>
  </div>

<% end %>
</div>
