<h1>Mes flux</h1>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fluxes.each do |flux| %>
      <tr>
        <td><%= flux.url %></td>
        <td><%= flux.title %></td>
        <td><%= link_to 'Afficher', flux %></td>
        <td> - </td>
        <td><%= link_to 'Supprimer', flux, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @fluxes %>
<%= link_to 'Ajouer un flux', new_flux_path, :class => "btn btn-default" %>
