<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Retour', fluxes_path %>
</p>

<p>

</p>

<h1><%= @flux.title %></h1>

<p>Mis à jour le <%= @flux.fetched_at.to_s %> - <%= link_to @flux.url, @flux.url %></p>

<div class="row">

<% @flux.articles.each do |article| %>

  <div class="col-sm-6 col-md-4 extrait">
    <div class="thumbnail">
      <a href="<%= article_path(:id => article.id) %>">
        <% if article.image_url != nil %>
          <img src="<%= article.image_url %>" alt="<%= article.title %>">
        <% end %>
        <div class="caption">
        <p class="popularity"><%= article.views %></p>
        <h4><%= article.title %></h4>
      </div>
      </a>
    </div>
  </div>

<% end %>

</div>

<%= link_to 'Supprimer', @flux, method: :delete, :class => "btn btn-danger" %>
