<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @flux.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @flux.title %>
</p>

<% @flux.items.each do |article| %>
<p>
<strong> <%= article.title %> </strong> <%= article.date %>
<br>
<img src= "<%= article.image %>" >
<br>
<%= article.description.html_safe %>
<br>
<%= link_to 'lire la suite', article.url %>
</p>
<% end %>

<%= link_to 'Edition', edit_flux_path(@flux) %> |
<%= link_to 'Retour', fluxes_path %>
