<!DOCTYPE html>
<html>
<head>
  <title>AiRSS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                  <% if  !user_signed_in? %>
                    <li>
                        <%= link_to 'AiRSS',new_user_session_path %>
                    </li>
                  <% else %>
                  <li>
                      <%= link_to 'AiRSS',root_path%>
                  </li>
                  <% end %>
                </ul>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <% if  !user_signed_in? %>
                  <li>
                    <%= link_to 'Inscription',new_user_registration_path %>
                  </li>
                  <% else %>
                  <li>
                      <%= link_to 'Profil', edit_user_registration_path %>
                  </li>
                  <% end %>
                  <% if  !user_signed_in? %>
                    <li>
                        <%= link_to 'Connexion',new_user_session_path %>
                    </li>
                  <% else %>
                    <li>
                        <%= link_to 'Déconnexion', destroy_user_session_path, :method => :delete %>
                    </li>
                  <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <% if current_page?('/') %>
    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.atelier-android.com/wp-content/uploads/2011/11/flux-RSS1.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.keepitsimple.fr/wp-content/uploads/2015/01/flux-rss.jpg');"></div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.icone-png.com/png/52/51518.png');"></div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <% else %>
    <% end %>


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <%= yield %>
            </div>
        </div>

        <hr>

        <!-- Footer -->
      <footer>
            <div class="row">
                <div class="col-lg-9">
                    <p>Copyright &copy; AiRSS 2015</p>
                </div>
                <div class="col-lg-3">
                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="bottom" style = "float: right">
                      <input type="hidden" name="cmd" value="_donations">
                      <input type="hidden" name="business" value="airss.mail@gmail.com">
                      <input type="hidden" name="lc" value="FR">
                      <input type="hidden" name="item_name" value="AIRSS">
                      <input type="hidden" name="no_note" value="0">
                      <input type="hidden" name="currency_code" value="EUR">
                      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>

                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>


</html>
